@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-900 font-sans;
}

body::-webkit-scrollbar {
    display: none;
}

.design-chevron {
    clip-path: polygon(
        0% 0%,       /* Top Left */
        100% 0%,     /* Top Right */
        100% 80%,    /* Bottom Right Corner */
        50% 100%,    /* Center Point (The tip of the V-cut) */
        0% 80%       /* Bottom Left Corner */
    );
    height: 550px;
    width: 100%;
}
